Repository blitzy-public-samples/case-mentor-4sx1t8, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global fallback ownership
* @project-leads

# Backend code ownership
/src/backend/** @backend-team @security-team

# Frontend code ownership
/src/web/** @frontend-team

# Infrastructure and deployment configuration
/infrastructure/** @devops-team @security-team

# Test files ownership
*.test.ts @qa-team

# Security-sensitive backend configuration
/src/backend/config/** @security-team

# Database files ownership
*.sql @database-team @security-team

# Authentication and authorization code
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files
*.yml @devops-team

# Dependency management files
package*.json @security-team @dependency-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/auth.test.ts
  src/backend/tests/lib/auth.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/cache.test.ts
  src/backend/tests/lib/cache.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/database.test.ts
  src/backend/tests/lib/database.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/drills.test.ts
  src/backend/tests/lib/drills.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/email.test.ts
  src/backend/tests/lib/email.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/openai.test.ts
  src/backend/tests/lib/openai.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/payments.test.ts
  src/backend/tests/lib/payments.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/simulation.test.ts
  src/backend/tests/lib/simulation.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/stripe.test.ts
  src/backend/tests/lib/stripe.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/utils.test.ts
  src/backend/tests/lib/utils.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/lib/validation.test.ts
  src/backend/tests/lib/validation.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/models/DrillAttempt.test.ts
  src/backend/tests/models/DrillAttempt.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/models/Feedback.test.ts
  src/backend/tests/models/Feedback.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/models/SimulationAttempt.test.ts
  src/backend/tests/models/SimulationAttempt.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/models/Subscription.test.ts
  src/backend/tests/models/Subscription.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/models/User.test.ts
  src/backend/tests/models/User.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/services/DrillService.test.ts
  src/backend/tests/services/DrillService.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/services/FeedbackService.test.ts
  src/backend/tests/services/FeedbackService.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/services/SimulationService.test.ts
  src/backend/tests/services/SimulationService.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/services/SubscriptionService.test.ts
  src/backend/tests/services/SubscriptionService.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/tests/services/UserService.test.ts
  src/backend/tests/services/UserService.test.ts
Owners: @qa-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/api.ts
  src/backend/types/api.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/auth.ts
  src/backend/types/auth.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/config.ts
  src/backend/types/config.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/drills.ts
  src/backend/types/drills.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/index.ts
  src/backend/types/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/simulation.ts
  src/backend/types/simulation.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/subscription.ts
  src/backend/types/subscription.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/types/user.ts
  src/backend/types/user.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/utils/encryption.ts
  src/backend/utils/encryption.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/utils/formatting.ts
  src/backend/utils/formatting.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/utils/index.ts
  src/backend/utils/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/utils/validation.ts
  src/backend/utils/validation.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/case-mentor-4sx1t8/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/case-mentor-4sx1t8/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/case-mentor-4sx1t8/src/web/jest.config.js
  src/web/jest.config.js
Owners: @frontend-team

Add public-samples/case-mentor-4sx1t8/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/case-mentor-4sx1t8/src/web/next.config.js
  src/web/next.config.js
Owners: @frontend-team
