Repository blitzy-public-samples/case-mentor-4sx1t8, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global fallback ownership
* @project-leads

# Backend code ownership
/src/backend/** @backend-team @security-team

# Frontend code ownership
/src/web/** @frontend-team

# Infrastructure and deployment configuration
/infrastructure/** @devops-team @security-team

# Test files ownership
*.test.ts @qa-team

# Security-sensitive backend configuration
/src/backend/config/** @security-team

# Database files ownership
*.sql @database-team @security-team

# Authentication and authorization code
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files
*.yml @devops-team

# Dependency management files
package*.json @security-team @dependency-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/restore-database.sh
  infrastructure/scripts/restore-database.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/rotate-keys.sh
  infrastructure/scripts/rotate-keys.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/.gitignore
  infrastructure/terraform/.gitignore
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/README.md
  infrastructure/terraform/README.md
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/cache/main.tf
  infrastructure/terraform/modules/cache/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/cache/outputs.tf
  infrastructure/terraform/modules/cache/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/cache/variables.tf
  infrastructure/terraform/modules/cache/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/jest.config.js
  src/backend/jest.config.js
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

Add public-samples/case-mentor-4sx1t8/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/api/auth/login.ts
  src/backend/api/auth/login.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/api/auth/logout.ts
  src/backend/api/auth/logout.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/api/auth/refresh.ts
  src/backend/api/auth/refresh.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/api/auth/register.ts
  src/backend/api/auth/register.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/api/drills/categories.ts
  src/backend/api/drills/categories.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/api/drills/index.ts
  src/backend/api/drills/index.ts
Owners: @backend-team, @security-team
