Repository blitzy-public-samples/case-mentor-4sx1t8, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global fallback ownership
* @project-leads

# Backend code ownership
/src/backend/** @backend-team @security-team

# Frontend code ownership
/src/web/** @frontend-team

# Infrastructure and deployment configuration
/infrastructure/** @devops-team @security-team

# Test files ownership
*.test.ts @qa-team

# Security-sensitive backend configuration
/src/backend/config/** @security-team

# Database files ownership
*.sql @database-team @security-team

# Authentication and authorization code
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files
*.yml @devops-team

# Dependency management files
package*.json @security-team @dependency-team

Add public-samples/case-mentor-4sx1t8/src/backend/config/stripe.ts
  src/backend/config/stripe.ts
Owners: @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/migrations/00001_create_users.sql
  src/backend/db/migrations/00001_create_users.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/migrations/00002_create_subscriptions.sql
  src/backend/db/migrations/00002_create_subscriptions.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/migrations/00003_create_drill_attempts.sql
  src/backend/db/migrations/00003_create_drill_attempts.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/migrations/00004_create_simulation_attempts.sql
  src/backend/db/migrations/00004_create_simulation_attempts.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/migrations/00005_create_feedback.sql
  src/backend/db/migrations/00005_create_feedback.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/seeds/drill_types.sql
  src/backend/db/seeds/drill_types.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/db/seeds/simulation_environments.sql
  src/backend/db/seeds/simulation_environments.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/ai/evaluator.ts
  src/backend/lib/ai/evaluator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/ai/feedback-generator.ts
  src/backend/lib/ai/feedback-generator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/ai/prompt-templates.ts
  src/backend/lib/ai/prompt-templates.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/auth/index.ts
  src/backend/lib/auth/index.ts
Owners: @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/auth/jwt.ts
  src/backend/lib/auth/jwt.ts
Owners: @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/auth/middleware.ts
  src/backend/lib/auth/middleware.ts
Owners: @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/auth/permissions.ts
  src/backend/lib/auth/permissions.ts
Owners: @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/cache/index.ts
  src/backend/lib/cache/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/cache/redis.ts
  src/backend/lib/cache/redis.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/migrations/001_initial_schema.sql
  src/backend/lib/database/migrations/001_initial_schema.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/migrations/002_drill_types.sql
  src/backend/lib/database/migrations/002_drill_types.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/migrations/003_simulation_schema.sql
  src/backend/lib/database/migrations/003_simulation_schema.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/models/drill.ts
  src/backend/lib/database/models/drill.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/models/simulation.ts
  src/backend/lib/database/models/simulation.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/models/subscription.ts
  src/backend/lib/database/models/subscription.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/models/user.ts
  src/backend/lib/database/models/user.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/queries/drills.ts
  src/backend/lib/database/queries/drills.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/queries/simulations.ts
  src/backend/lib/database/queries/simulations.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/queries/subscriptions.ts
  src/backend/lib/database/queries/subscriptions.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/database/queries/users.ts
  src/backend/lib/database/queries/users.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/drills/calculator.ts
  src/backend/lib/drills/calculator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/drills/evaluator.ts
  src/backend/lib/drills/evaluator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/drills/index.ts
  src/backend/lib/drills/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/drills/types.ts
  src/backend/lib/drills/types.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/email/index.ts
  src/backend/lib/email/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/email/transporter.ts
  src/backend/lib/email/transporter.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/email/templates/feedback.ts
  src/backend/lib/email/templates/feedback.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/email/templates/reset-password.ts
  src/backend/lib/email/templates/reset-password.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/email/templates/welcome.ts
  src/backend/lib/email/templates/welcome.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/errors/APIError.ts
  src/backend/lib/errors/APIError.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/errors/handlers.ts
  src/backend/lib/errors/handlers.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor-4sx1t8/src/backend/lib/errors/index.ts
  src/backend/lib/errors/index.ts
Owners: @backend-team, @security-team
