Repository blitzy-public-samples/case-mentor-4sx1t8, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global fallback ownership
* @project-leads

# Backend code ownership
/src/backend/** @backend-team @security-team

# Frontend code ownership
/src/web/** @frontend-team

# Infrastructure and deployment configuration
/infrastructure/** @devops-team @security-team

# Test files ownership
*.test.ts @qa-team

# Security-sensitive backend configuration
/src/backend/config/** @security-team

# Database files ownership
*.sql @database-team @security-team

# Authentication and authorization code
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files
*.yml @devops-team

# Dependency management files
package*.json @security-team @dependency-team

Add public-samples/case-mentor-4sx1t8/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/.github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/workflows/deploy-preview.yml
  .github/workflows/deploy-preview.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/workflows/preview.yml
  .github/workflows/preview.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/documentation/Software Requirements Specifications (SRS).json
  documentation/Software Requirements Specifications (SRS).json
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/README.md
  infrastructure/docker/README.md
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/development/.env.example
  infrastructure/docker/development/.env.example
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/development/docker-compose.yml
  infrastructure/docker/development/docker-compose.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/monitoring/docker-compose.yml
  infrastructure/docker/monitoring/docker-compose.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/monitoring/grafana/datasources/prometheus.yml
  infrastructure/docker/monitoring/grafana/datasources/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/redis/docker-compose.yml
  infrastructure/docker/redis/docker-compose.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/redis/redis.conf
  infrastructure/docker/redis/redis.conf
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/supabase/config.toml
  infrastructure/docker/supabase/config.toml
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/docker/supabase/docker-compose.yml
  infrastructure/docker/supabase/docker-compose.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/README.md
  infrastructure/monitoring/README.md
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/dashboards/api-metrics.json
  infrastructure/monitoring/grafana/dashboards/api-metrics.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/dashboards/api.json
  infrastructure/monitoring/grafana/dashboards/api.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/dashboards/business-metrics.json
  infrastructure/monitoring/grafana/dashboards/business-metrics.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/dashboards/database.json
  infrastructure/monitoring/grafana/dashboards/database.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/dashboards/system-metrics.json
  infrastructure/monitoring/grafana/dashboards/system-metrics.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/dashboards/system.json
  infrastructure/monitoring/grafana/dashboards/system.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/grafana/datasources/prometheus.yml
  infrastructure/monitoring/grafana/datasources/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor-4sx1t8/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @devops-team, @security-team
